*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img{
    width: 100%;
}

.block{
    display: block;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

.border{
    border: 1px solid #e9e9ea;
}

.border-b{
    border-bottom: 1px solid #e9e9ea;
}

.padding{
    padding: 8px 0;
}

.margin-b{
    margin-bottom: 20px;
}

.center{
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.line{
    width: 20%;
    height: 1px;
    margin: 20px 0;
}

.list{
    text-decoration: none;
    color: black;

}

.list-non{
    list-style-type: none;
    display: inline-block;
}

.btn-small{
    padding: 5px 10px;
}

.btn-large{
    padding: 5px 12px;
}


.btn-blu{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}

.btn{
    text-decoration: none;
    color: black;
}

.h2{
    font-size: 30px;
}

.font-s{
    font-size: 13px;
}

/* HEADER */

/* NAV */
.menu-l{
    margin-left: 35px;
}

nav li{
    margin-left: 20px;
}

nav *{
    text-align: center;
    line-height: 30px;
}

.menu-r{
    margin-left: 340px;
    margin-right: 50px;
}
/* END NAV */

/* JUMBO */
.jumbo{
    background-color: #b4d0e7;
}

.jumbo-contain{
    width: 80%;
    margin: auto;
}

.jumbo h1{
    font-size: 60px;
    margin-bottom: 40px;
    padding-top: 60px;
}

.jumbo-text{
    width: 30%;
}

.jumbo-img{
    position: relative;
    width: 60%;
    margin-left: 8%;
    margin-right: 2%;
 
}

.jumbo-img img{
    position: absolute;
}


.jumbo-text p{
    margin-bottom: 30px;
}

.annulla{
    margin-top: 15px;
    margin-bottom: 35px;

}
/* END JUMBO */

/* PIANO DROPBOX */
.contain{
    width: 60%;
    margin: auto;
}

.piano-dropbox .title-h2{
    margin-top: 200px;
    margin-bottom: 20px;
}

.r-btn-1{
    display: inline-block;
    border: 3px solid blue;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.r-btn-2{
    display: inline-block;
    border: 1px solid #f8f8f8;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.radio-btn :first-child{
    margin-right: 10px;
}

.col-right, .col-center, .col-left{
    width: 30%;
    margin: 30px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.col-center{
    margin-left: 5%;
    margin-right: 5%;
}

.piano-dropbox h3{
    margin: 25px 0px;
}

.piano-dropbox .price{
    margin-bottom: 10px;
}

.piano-dropbox .month{
    margin-bottom: 40px;

}

.folder{
    margin: 30px 0px;
}

.btn-col{
    margin-top: 40px;
    margin-bottom: 30px;
}

.col-right .col-margin{
    margin-bottom: 90px;
}

.col-center .col-margin{
    margin-bottom: 40px;
}

.col-left .col-margin{
    margin-bottom: 40px;
}

.enterprise a{
    margin-top: 20px;
}

.enterprise h3{
    margin: 20px 0px;
}

.piano-left{
    padding-left: 20px;
}
/* PIANO DROPBOX */

/* PARTNER */
.partner{
    margin-top: 100px;
}

.partner-left{
    width: 61%;
    margin-right: 8%;
}

.partner-right{
    width: 30%;
}

.partner .btn{
    border: 1px solid black;
    width: 51%;
}

.partner h3{
    margin-top: 30px;
    margin-bottom: 20px;
}

.partner p{
    line-height: 20px;
}
/* END PARTNER */

/* OPERAZIONI */
.operazioni{
    margin-top: 80px;
}

.col-f-right, .col-f-center, .col-f-left{
    width: 30%;
    margin-bottom: 60px;
}

.col-f-center{
    margin: 0px 5%;
}
/* END OPERAZIONI */